$ft-blue: #002060;
$ft-ltblue: #558ed5;
$ft-yellow: #ffc000;
$ft-ltgray: #efefef;
$ft-gray: #7f7f7f;
$ft-midgray: #cecece;
$ft-lime: #04d138;
$ft-red: #ff0066;

$topic-lang: #f9af73;
$topic-school: #31859c;
$topic-quizzes: #8266a3;

// Mixins

// @mixin element-color($color) {
//   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="@{color}" width="17" height="17" viewBox="0 0 17.2 17.2"><path d="M8.6 0C3.9 0 0 3.9 0 8.6c0 4.7 3.9 8.6 8.6 8.6 4.8 0 8.6-3.9 8.6-8.6C17.2 3.9 13.4 0 8.6 0zM11.7 7.2l-1.5-0.2c0.1-0.5 0-0.9-0.2-1.2 -0.2-0.3-0.5-0.5-0.9-0.6C8.8 5.1 8.5 5.2 8.3 5.4c-0.2 0.2-0.4 0.5-0.4 0.8 -0.1 0.3 0 0.6 0.2 0.9 0.2 0.2 0.5 0.5 1.1 0.8 0.8 0.4 1.4 0.9 1.7 1.3 0.4 0.5 0.5 1 0.4 1.7 -0.1 0.7-0.4 1.2-0.9 1.6 -0.5 0.3-1.1 0.5-1.8 0.5l-0.2 1.2 -1-0.1 0.2-1.2c-0.7-0.2-1.3-0.5-1.6-1 -0.4-0.5-0.5-1.2-0.4-2l0 0 1.4 0.2c-0.1 0.6 0 1 0.2 1.3 0.2 0.3 0.6 0.5 1 0.5 0.4 0.1 0.8 0 1.1-0.2 0.3-0.2 0.4-0.5 0.5-0.8 0-0.3 0-0.6-0.2-0.9 -0.2-0.3-0.5-0.5-1-0.8C7.7 8.7 7.1 8.3 6.8 7.8 6.4 7.3 6.3 6.7 6.4 6c0.1-0.7 0.4-1.2 0.8-1.5 0.5-0.4 1.1-0.5 1.8-0.5l0.2-1.3 1 0.1L9.9 4.1c0.7 0.2 1.2 0.6 1.5 1.1C11.7 5.8 11.8 6.4 11.7 7.2z"/></svg>  ');
// }

@keyframes popViewIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes extendCat {
	from {
		max-height: 130px;
		opacity: 0;
	}

	to {
		max-height: auto;
		opacity: 1;
	}
}

//Common

.nav-profile.dropdown {
	padding:0 !important;
}
.yellow-text {
	color: $ft-yellow;
}

.page__intro {
	max-width: 450px;
	margin: 0 auto;

	h1 {
		text-align: center;
		color: $ft-blue;
		margin: 50px 0 20px 0;
	}

	p {
		color: $ft-gray;
	}
}

hr {
	border: 2px solid $ft-ltgray !important;
}

h1 {
	color: $ft-blue;
}

//Buttons
.btn-primary:hover,
.btn-secondary:hover,
.btn-lime:hover {
	transform: translateY(-3px);
	box-shadow: 0 3px 0 0 $ft-midgray;
}

.btn-primary,
.btn-secondary,
.btn-lime {
	padding: 10px 30px;
	transition: all ease-in 0.1s;
	border: none;
	font-weight: 500;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-lime:focus {
	box-shadow: none !important;
}

.btn-primary {
	background: $ft-blue !important;
	color: #fff;
}

.btn-secondary {
	background: $ft-ltblue !important;
	color: #fff;
}

.btn-lime {
	background: $ft-lime !important;
	color: #fff;
}

.heading--wrapper {
	background: #efefef;
	border-bottom: 3px solid $ft-blue;
}

.heading {
	max-width: 1140px;
	margin: 0 auto;

	.heading__content {
		margin-top: 15px;
	}

	.heading__hello {
		background: $ft-blue;
		color: #fff;
		padding: 20px 20px;

		h1 {
			color: #fff;
			font-size: 3.2rem;
			line-height: 4rem;
		}

		p {
			font-size: 1.1rem;
			line-height: 1.7rem;
		}

		p,
		button {
			padding-top: 10px;
		}
	}

	.heading__slideshow {
		overflow: hidden;
		padding-right: 0;

		.heading__slideshow--current {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;

			img {
				transition: opacity 1.5s;
				position: absolute;
				top: 0;
				opacity: 0;
			}

			.fadeIn {
				opacity: 1;
			}
		}
	}

	.heading__btn--cta {
		background: #fff;
		border-radius: 50px;
		border: 2px solid #fff;
		font-size: 1.2rem;
		color: $ft-blue;
		font-weight: 600;
		padding: 13px 35px;
		transition: all ease-in 0.1s;
		backface-visibility: hidden;

		&:hover {
			transform: scale(1.04);
			background: $ft-blue;
			color: #fff;
		}
	}
}

.step__two {
	margin-top: 470px !important;

	/*  NEEDS A FIX! CHECK WHERE STEP__ONE IS */
	.step__intro {
		margin-top: 50px;

		.step__intro--number {
			top: -40px;
		}

		img {
			max-height: 300px;
		}
	}
}

@media (max-width: 767px) {
	.step__two {
		margin-top: unset;
	}
}

.step__three {
	margin: 80px 0;

	img {
		max-height: 400px;
	}

	.step__intro {
		margin-top: 100px;

		.step__intro--number {
			right: 0;
			top: -35px;
		}
	}
}

.step__illustration {
	position: relative;
	right: 0;
}

.step__one {
	margin-top: 80px;

	.step__intro--number {
		left: -47px;
		top: -2px;
	}
}

.step {
	h1 {
		color: $ft-ltblue;
		font-size: 2.8rem;
		font-weight: 600;
	}

	.step__intro--number {
		position: absolute;
		text-align: center;
		padding-top: 3px;
		font-weight: 500;
		background: $ft-yellow;
		width: 30px;
		height: 30px;
		border-radius: 20px;
		color: #fff;
		font-size: 1.3rem;
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px $ft-yellow, 0 0 0 6px #fff,
			0 0 0 9px lighten($ft-yellow, 35%);
	}

	h3 {
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 20px;
		font-size: 1.3rem;
		font-weight: 400;
		color: $ft-blue;
	}

	.topic-languages {
		i,
		h2 {
			color: $topic-lang;
		}

		button {
			background: $topic-lang;
		}

		.topic:hover {
			color: $topic-lang;
			cursor: pointer;
		}

		span {
			background: $topic-lang;
		}
	}

	.topic-school {
		i,
		h2 {
			color: $topic-school;
		}

		button {
			background: $topic-school;
		}

		.topic:hover {
			color: $topic-school;
			cursor: pointer;
		}

		span {
			background: $topic-school;
		}
	}

	.topic-quizzes {
		i,
		h2 {
			color: $topic-quizzes;
		}

		button {
			background: $topic-quizzes;
		}

		.topic:hover {
			color: $topic-quizzes;
			cursor: pointer;
		}

		span {
			background: $topic-quizzes;
		}
	}

	.step__topics {
		position: absolute;
		margin-bottom: 310px;
		margin-top: 20px;
		z-index: 4;

		button {
			position: relative;
			width: 100%;
			border: none;
			padding: 10px 0;
			color: #fff;
			cursor: pointer;
			z-index: 4;
			transition: all ease-in 0.1s;

			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 5px 0px 0px lighten($ft-gray, 35%);
			}
		}

		.topic {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding-bottom: 20px;
			color: $ft-gray;

			/* Flag/topic icon */
			span {
				position: relative;
				bottom: 1px;
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 10px;
				vertical-align: middle;
				margin-right: 5px;
			}
		}

		.step___topics-box {
			background: #fff;
			padding: 20px 15px;
			margin-top: 10px;
			position: relative;
			max-height: 300px;
			overflow: hidden;
			transition: all 0.25s ease-in;
			max-width: 385px;
			white-space: nowrap;

			&:hover {
				max-height: 600px;
				transition: all ease-in 0.1s;
				box-shadow: 0 5px 15px 10px lighten($ft-gray, 47%);
				z-index: 4;
				transform: scale(1.03);
			}

			.step___topics-box--fade {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
				margin: 0;
				padding: 50px 0;
				background-image: linear-gradient(to bottom, transparent, white);
				z-index: 4;
				pointer-events: none;
			}

			i {
				font-size: 2.5rem;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}

			h2 {
				text-align: center;
				text-transform: uppercase;
			}

			p {
				text-align: center;
				color: $ft-gray;
				font-size: 0.8rem;
			}
		}
	}
}

@media (max-width: 767px) {
	.step__topics {
		position: relative !important;
		margin-bottom: 80px !important;
	}

	.step__two {
		margin-top: unset !important;

		img {
			display: none;
		}
	}

	.step__three {
		margin-top: 80px;

		img {
			display: none;
		}
	}
}

.second-cta {
	background: $ft-ltgray;
	padding: 80px 0;

	h1 {
		color: $ft-blue;
	}

	.second-cta__btn {
		position: relative;
		border: 4px solid $ft-blue;
		font-weight: 500;
		margin: 25px 0;
		left: 50%;
		transform: translateX(-50%);
		background: $ft-blue;
		padding: 13px 35px;
		color: #fff;
		border-radius: 30px;
		font-size: 1.2rem;
		backface-visibility: hidden;
		transition: all ease-in 0.1s;

		&:hover {
			color: $ft-blue;
			background: $ft-ltgray;
			transform: translateX(-50%) scale(1.04);
		}
	}
}

///////////////////////////* Search *///////////////////////////

form {
	width: 100%;
}

.search__wrapper--instance {
	float: left;
}

.detailed-form {
	margin: 0 auto;
	max-width: 600px;

	.search__wrapper--instance {
		margin-bottom: 10px;
	}
}

form {
	.hidden {
		visibility: hidden;
	}

	button {
		// margin-top:29px; NEEDS FIX
		background: $ft-blue !important;
		color: #fff !important;
		font-weight: 500 !important;
		border-radius: 0;

		i {
			padding-right: 5px;
		}
	}

	input,
	select,
	textarea {
		background: $ft-ltgray !important;
		border-radius: 0 !important;
		border: 1px solid $ft-midgray !important;

		&:focus {
			border-color: $ft-yellow !important;
			box-shadow: 0 0 0 0.2rem $ft-yellow !important;
		}
	}

	label {
		font-size: 0.9rem;
		text-transform: uppercase;
		color: $ft-gray;
		font-weight: 500;
		margin-bottom: 0.3rem;
		white-space: nowrap;
	}

	textarea {
		min-height: 130px;
	}

	.active {
		color: $ft-yellow;
	}
}

///////////////////////////* DISCOUNTS *///////////////////////////

#discount__feed {
	overflow: hidden;
}

.discount__wrapper {
	min-height: 165px;
	margin-left: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 4px solid $ft-ltgray;

	.discount__wrapper--image {
		overflow: hidden;
		max-width: 20%;
		position: relative;
		max-height: 140px;

		img {
			display: block;
			max-height: 100%;
			position: absolute;
			right: 50%;
			transform: translateX(50%);
		}
	}
}

.discount__header {
	max-width: 80% !important;
	flex: 0 0 80% !important;

	// max-height: 140px;
	.discount__header--prices {
		position: relative;
		top: 1px;

		span {
			vertical-align: middle;
			font-size: 1.2rem;
		}

		.percent-percent {
			padding: 1px 10px 5px 10px;
			background: $ft-lime;
			color: #fff;

			font-weight: 500;
		}

		.price-new {
			font-weight: 500;
			color: $ft-lime;
			margin-left: 7px;
		}

		.price-old {
			color: $ft-gray;
			text-decoration: line-through;
			margin-left: 7px;
		}
	}

	.discount__header--content {
		h4,
		p {
			text-overflow: ellipsis; //Toggle on click (closed here)
			white-space: nowrap; //Toggle on click (closed here)
			overflow: hidden; //Toggle on click (closed here)
		}

		h4 {
			margin: 10px 0 3px 0;
			color: $ft-blue;
		}

		p {
			color: $ft-gray;
			margin: 0;
		}

		table {
			display: none; //Toggle on click (closed here)
			width: 100%;
			margin: 20px 0 60px 0;

			tr:nth-child(odd) {
				background: $ft-ltgray;
			}

			tr {
				td {
					padding: 5px 10px;
				}

				td:first-child {
					width: 200px;
					text-transform: uppercase;
					color: $ft-gray;
					font-weight: 500;
					margin-bottom: 0.3rem;
				}
			}
		}
	}

	.extended {
		animation: popViewIn 0.3s ease-in;

		p,
		h4 {
			text-overflow: unset; //Toggle on click (opened here)
			white-space: unset; //Toggle on click (opened here)
			overflow: unset; //Toggle on click (opened here)
		}

		table {
			display: table;
			/*Toggle on click (opened here)*/
		}
	}

	.discount__buttons {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-right: 30px;

		.discount__btn--see-more,
		.discount__btn--claim {
			font-size: 0.8rem;
		}

		.discount__btn--see-more {
			i {
				padding-right: 5px;
			}
		}

		.discount__btn--claim {
			float: right;
		}
	}
}

@media (max-width: 767px) {
	.discount__wrapper {
		padding: 0 !important;
	}

	.discount__wrapper--image {
		max-width: 100% !important;
		max-height: 100% !important;
		flex: 0 0 100% !important;
		margin-bottom: 5px;

		img {
			position: relative !important;
			transform: unset !important;
			right: 0 !important;
			width: 100%;
			max-height: 100% !important;
		}
	}

	.discount__header {
		max-width: 100% !important;

		.discount__buttons {
			position: relative;
			margin-top: 10px;
			padding: 0;
		}
	}

	.discount__header .discount__buttons .discount__btn--see-more,
	.discount__header .discount__buttons .discount__btn--claim {
		width: 100%;
	}

	.discount__header .discount__header--content table {
		margin: 20px 0;
	}
}

////////////// MODAL ///////////////////////

// Opened modals
.modal__content {
	background: #fff;
	max-width: 1000px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 20px;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	z-index: 10;
	transition: all 0.5s ease-in-out;
	bottom: 0;
	overflow-y: scroll;
	top: 100px;

	.modal__func--close {
		position: relative;
		top: 5px;
		color: $ft-midgray;
		font-size: 1.4rem;

		i {
			transition: all 0.1s ease-in;

			&:hover {
				color: $ft-gray;
			}
		}
	}
}

.modal__background {
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	opacity: 1;
	transition: all 0.3s ease-in;
}

@media (max-width: 1200px) {
	.modal__content {
		width: 90%;
	}
}

// Closed modals
.modal__closed--behind {
	opacity: 0;
	pointer-events: none;
}

.modal__closed--content {
	transform: translateY(1000px) translateX(-50%);
	opacity: 0;
	pointer-events: none;
}

// Modal - discounts

.discount__preview {
	background: #fff;
	// clear:both;
	border: 1px dashed $ft-midgray;
	max-height: 90px;
	margin: 15px;

	.discount__preview--percent {
		position: relative;
		color: #fff;
		font-weight: 500;
		max-width: 100px;
		max-height: 100px;
		display: inline-block;
		font-size: 2rem;
		padding: 20px;
		background: $ft-ltblue;
		vertical-align: top;
		z-index: 2;

		// Percent arrow
		&:after {
			content: " ";
			background: #fff;
			padding: 10px;
			position: absolute;
			transform: rotate(45deg) translateY(-50%);
			right: -8px;
			top: 50%;
		}
	}

	.discount__preview--content {
		position: relative;
		display: inline-block;
		margin: 5px;
		max-width: 450px;
		z-index: 15;

		h3 {
			font-size: 1.2rem;
			color: $ft-ltblue;
			font-weight: 400;
			margin: 0;
			text-overflow: ellipsis; //Toggle on click (closed here)
			white-space: nowrap; //Toggle on click (closed here)
			overflow: hidden; //Toggle on click (closed here)
		}

		.credits-view {
			color: $ft-lime;
			font-weight: 500;

			.credits-icon {
				padding-right: 2px;
				width: 15px;
				// svg {
				//   // fill:$ft-lime; - can't target svg
				// }
			}
		}

		.price-view {
			font-size: 1.7rem;
			font-weight: 600;
			color: $ft-lime;
			line-height: 1.5rem;
			display: inline-block;
		}

		.before-view {
			font-size: 1.3rem;
			display: inline-block;
			color: $ft-gray;
			text-decoration: line-through;
		}
	}
}

.discount__instructions {
	max-width: 570px;
	margin: 0 auto;
	position: relative;
	white-space: nowrap;

	.discount__instructions--each {
		position: relative;
		padding: 5px 10px;
		top: 0;
		width: 32.8%;
		display: inline-block;
		vertical-align: top;
		height: 100%;

		img {
			position: relative;
			max-width: 80%;
			left: 50%;
			transform: translateX(-50%);
		}

		p {
			text-align: center;

			white-space: normal;
		}
	}
}

////////////// Category section //////////////

.category__type--languages {
	.category__name,
	.category__item a:hover {
		color: $topic-lang;
	}

	.category__items--extend-btn {
		background: $topic-lang;
	}
}

.category__type--school {
	.category__name,
	.category__item a:hover {
		color: $topic-school;
	}

	.category__items--extend-btn {
		background: $topic-school;
	}
}

.category__type--quiz {
	.category__name,
	.category__item a:hover {
		color: $topic-quizzes;
	}

	.category__items--extend-btn {
		background: $topic-quizzes;
	}
}

.category {
	margin-top: 50px;

	// Left side
	.category__name {
		text-align: right;
		font-weight: 700;
		text-transform: uppercase;
	}

	.category__description {
		font-size: 0.9rem;
		color: $ft-gray;
		text-align: right;
	}

	//Right side
	.category__items--wrapper {
		display: flex;
		max-height: 1800px;
		flex-flow: row wrap;
		padding: 0;
		margin: 0;
		overflow: hidden;
		padding-bottom: 20px;

		&:not(.wrapper__collapsed) {
			transition: all 1s ease-in;
		}

		.category__items--fade-overlay {
			content: "";
			background-image: linear-gradient(
				to top,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 0.8) 50%,
				rgba(255, 255, 255, 0) 100%
			);
			position: absolute;
			height: 45px;
			width: 100%;
			bottom: 0;
			pointer-events: none;
			z-index: 5;
		}

		.category__items--extend-btn {
			z-index: 5;
			display: block;
			position: absolute;
			bottom: 0px;
			// left: 50%; transform: translateX(-50%); center?
			width: 100%;
			text-align: center;
			border-radius: 20px;
			cursor: pointer;

			i {
				color: #fff;
				position: relative;
				pointer-events: none;
			}
		}
	}

	.wrapper__collapsed {
		max-height: 135px;
	}

	.category__item {
		position: relative;
		width: 22%;
		margin: 8px 10px;
		overflow: hidden; // One line category items
		cursor: pointer;

		a {
			display: block;
			color: $ft-gray;
			font-size: 1.1rem;

			&:hover {
				text-decoration: none;
			}

			p {
				display: inline-block;
				position: absolute;
				margin: 0;
				padding-left: 5px;

				// TODO - not working (consider putting it back to (a) and removing p tag
				// text-overflow: ellipsis; // One line category items
				// white-space: nowrap; // One line category items
				// overflow: hidden; // One line category items
			}

			.category__item--icon {
				position: relative;
				display: inline-block;
				background: $ft-ltgray;
				overflow: hidden;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				border: 2px solid $ft-ltgray;
				box-sizing: content-box;

				object {
					position: absolute;
					right: 50%;
					width: 40px;
					transform: translate(50%, 50%);
					bottom: 50%;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.categories {
		box-sizing: content-box;

		.category {
			// .wrapper__collapsed {max-height: 100%;}
			.category__name {
				text-align: left;
			}

			.category__description {
				text-align: left;
			}

			.category__item {
				width: 45%;

				.category__item--icon {
					width: 30px;
					height: 30px;

					object {
						width: 60px;
					}
				}
			}
		}
	}
}

//////////////// Text pages (reader) //////////////

.reader__wrapper {
	margin-top: 50px;
	max-width: 740px;
	padding: 0 20px;

	// Base texts
	p,
	li,
	strong,
	em {
		font-size: 1.2rem;
		color: #3a3a3a;
		font-weight: 400;
		line-height: 2.15rem;
	}
	a {
		transition: all ease-in 0.1s;
		font-weight: 500;
	}
	a:hover {
		display: inline-block;
		text-decoration: none;
		color: $ft-blue;
	}

	// Lists (positioned to have ol and ul line up
	ol {
		padding-left: 40px;
	}
	ul {
		padding-left: 20px;
	}
	ol li {
		padding-left: 15px;
	}
	ul li {
		padding-left: 35px;
	}

	ul li {
		list-style-type: none;
		background-image: url(../img/div_icons/bulletpoint-arrow.svg);
		background-position: -5px 11px;
		background-size: 1rem 1rem;
		background-repeat: no-repeat;
	}

	//Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $ft-blue;
	}
	h2 {
		margin: 30px 0;
		font-size: 1.8rem;
	}

	.reader__final-date {
		margin-top: 70px;
		text-align: right;
		font-style: italic;
		color: $ft-gray;
	}
}

///////////////// Nav

.navbar {
	padding: 0 !important;
}
nav {
	position: fixed;
	background: $ft-blue;
	border-bottom: 4px solid $ft-yellow;
	font-size: 0.9rem;
	.nav-link {
		color: #fff !important;
		padding: 1.5rem 1.1rem !important;
		text-transform: uppercase;
		transition: all 0.1s ease-in;
		&:hover {
			background: lighten($ft-blue, 5%);
		}
	}
	.navbar-text {
		padding: 0;
	}
	.nav-right {
		text-transform: uppercase;
		.dropdown-toggle {
			padding-left: 35px;
			position: relative;
			font-size: 0.9rem;
		}
		.nav-language-select {
			padding: 1rem;
			select {
				border-radius: 1.5rem !important;
				background: $ft-blue !important;
				color: #fff;
			}
		}
	}
	.dropdown {
		padding: 1rem;
		.dropdown-toggle {
			background: none !important;
			color: #fff;
			border-radius: 1.5rem;
			border: 2px solid;
			border-color: #fff !important;
			&:hover {
				box-shadow: 0 0 0 1px #fff;
			}
		}
	}

	@media (max-width: 600px) {
		.navbar-toggler {
			padding: 1.5rem !important;
		}
		.nav-item {
			display: block;
			background: darken($ft-blue, 5%);
			font-weight: 500;
		}
		.navbar-text {
			width: 100%;
		}
	}

	// Nav logo

	.navbar-brand {
		.navbar-logo {
			max-height: 40px;
		}
	}

	@media (max-width: 600px) {
		.navbar-brand {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	// Dropdowns (General)
	.dropdown-menu {
		top:60px;
		background: $ft-ltgray;
		border: none;
		padding:0;
		border-radius: .8rem !important;
		overflow: hidden;
		box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2);
		min-width:230px; 
	}

	.vertical-line {
		width:1px;
		height: 30px;
		background: #fff;
		display: block;
		margin: 1.3rem 10px;
	}

	// Nav flags

	.dropdown-lang {
		.flag-wrapper {
			bottom: 50%;
			transform: translateY(50%);
			left: 5px;
			width: 25px;
			height: 25px;
			overflow: hidden;
			position: absolute;
			border-radius: 1rem;
			.navbar-flag-selected {
				max-height: 100%;
				right: 50%;
				transform: translateX(50%);
				position: absolute;
				width: 50px;
				height: 50px;
				border-radius: 50px;
			}
		}

			.dropdown-item {
				position: relative;
				padding: 0.5rem 1rem 0.5rem 3rem;
				white-space: normal;
				.flag-wrapper {
					left: 15px;
					.navbar-flag-dropdown {
						max-height: 100%;
						right: 50%;
						transform: translateX(50%);
						position: absolute;
						width: 50px;
						height: 50px;
						border-radius: 50px;
					}
				}
				&:active {
					color: $ft-blue;
					background: #fff;
				}
			}
		
	}

	// Nav credits

	.nav-credits {
		.nav-link {
			background: unset;
			position: relative;
			// padding: 1.75rem 1.1rem !important;
		}
		.credit-container {
			// height: 100%;
			background: $ft-yellow;
			padding: 5px 15px;
			color: $ft-blue;
			font-weight: 500;
			font-size: 1rem;
			border-radius: 2rem;
			transition: all 0.1s ease-in;
			cursor: default;
			&:hover {
				box-shadow: 0 0 10px 3px rgba(255, 182, 0, 0.6);
			}
			.navbar-credit-icon {
				position: relative;
				top: 1px;
				padding-right: 3px;
			}
		}
	}

	// Nav profile
	.nav-profile {
		cursor: pointer;
		.nav-link {
			background: unset;
			position: relative;
			.profile-container {
				.profile-picture {
					position: relative;
					background-image: url("https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&d=retro&r=pg");
					background-size: contain;
					border: 2px solid #fff;
					padding: 5px 15px;
					color: $ft-blue;
					font-weight: 500;
					font-size: 1rem;
					border-radius: 2rem;
					transition: all 0.1s ease-in;
					right: 5px;
					&:after {
						content: "";
						position: absolute;
						right: -15px;
						top: 50%;
						transform: translateY(-50%);
						width: 0;
						height: 0;
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-top: 6px solid #fff;
					}
				}
			}
		}
			.dropdown__profile-container {
				position:relative;
				padding: 0px;
				text-transform: initial;
				.dropdown__profile--main {
					padding: 10px 0px;
				}
				span, a, .dropdown__profile--logout {
					font-weight: 400;
					color: $ft-blue;
					padding: 3px 20px;
					transition: all .1s ease-in;
					i {
						color: #aaaaaa;
						float:right;
						padding-top:4px;
					}
				}
				span {
					font-size: 1.2rem;
					background: $ft-yellow;
					cursor: default;
				}
				a:active {
					background: #fff;
				}
				.dropdown__profile--logout {
					background: darken($ft-ltgray, 5%);
					padding: 6px 20px;
					&:hover {
						color: #fff;
						background:$ft-red;
					}
				}
			}
		
	}

	// Mobile
	.navbar-toggler {
		padding: 1rem;
		.navbar-toggler-icon {
			color: #fff;
			height: unset;
		}
	}
	@media (max-width: 767px) {
		.nav-link {
			padding: 1rem !important;
			text-align: right;
		}
		.navbar-text {
			float: right;
			text-align: right;
		}
	}
}
