@-webkit-keyframes popViewIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popViewIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes extendCat {
  from {
    max-height: 130px;
    opacity: 0;
  }
  to {
    max-height: auto;
    opacity: 1;
  }
}

@keyframes extendCat {
  from {
    max-height: 130px;
    opacity: 0;
  }
  to {
    max-height: auto;
    opacity: 1;
  }
}

.nav-profile.dropdown {
  padding: 0 !important;
}

.yellow-text {
  color: #ffc000;
}

.page__intro {
  max-width: 450px;
  margin: 0 auto;
}

.page__intro h1 {
  text-align: center;
  color: #002060;
  margin: 50px 0 20px 0;
}

.page__intro p {
  color: #7f7f7f;
}

hr {
  border: 2px solid #efefef !important;
}

h1 {
  color: #002060;
}

.exercise__end .table {
  background: #efefef;
  margin: 0.5rem 0;
}

.exercise__end .table td {
  border: none;
  padding: 0.5rem 0.75rem;
}

.exercise__end .table .table-heading {
  color: #002060;
  font-weight: 600;
  text-transform: uppercase;
}

.exercise__end .table .table-description {
  color: #002060;
}

.breadcrumb {
  background-image: none !important;
}

.breadcrumb .breadcrumb-item.active {
  color: #002060;
}

.breadcrumb .breadcrumb-item:before {
  content: unset;
}

.breadcrumb .breadcrumb-item a {
  color: #7f7f7f;
  background: #efefef;
}

.tooltip-inner {
  background-color: #002060 !important;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #002060 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #002060 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #002060 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #002060 !important;
}

.popover .popover-body {
  padding: 0;
}

.popover .list-group-item {
  border: none;
}

.popover .list-group-item small {
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-lime:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 0 0 #cecece;
          box-shadow: 0 3px 0 0 #cecece;
}

.btn-primary,
.btn-secondary,
.btn-lime {
  border-radius: 0;
  padding: 10px 30px;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  border: none;
  font-weight: 600;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-lime:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary {
  background: #002060 !important;
  color: #fff;
}

.btn-secondary {
  background: #558ed5 !important;
  color: #fff;
}

.btn-lime {
  background: #04d138 !important;
  color: #fff;
}

.heading--wrapper {
  background: #efefef;
  border-bottom: 3px solid #002060;
}

.heading {
  max-width: 1140px;
  margin: 0 auto;
}

.heading .heading__content {
  margin-top: 15px;
}

.heading .heading__hello {
  background: #002060;
  color: #fff;
  padding: 20px 20px;
}

.heading .heading__hello h1 {
  color: #fff;
  font-size: 3.2rem;
  line-height: 4rem;
}

.heading .heading__hello p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.heading .heading__hello p,
.heading .heading__hello button {
  padding-top: 10px;
}

.heading .heading__slideshow {
  overflow: hidden;
  padding-right: 0;
}

.heading .heading__slideshow .heading__slideshow--current {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.heading .heading__slideshow .heading__slideshow--current img {
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.heading .heading__slideshow .heading__slideshow--current .fadeIn {
  opacity: 1;
}

.heading .heading__btn--cta {
  background: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  color: #002060;
  font-weight: 600;
  padding: 13px 35px;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading .heading__btn--cta:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #002060;
  color: #fff;
}

@media (max-width: 1000px) {
  .heading__hello h1 {
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
  }
}

.step__two .step__intro {
  margin-top: 50px;
}

.step__two .step__intro .step__intro--number {
  top: -40px;
}

.step__two .step__intro img {
  max-height: 300px;
}

@media (max-width: 767px) {
  .step__two {
    margin-top: unset;
  }
}

.step__three {
  margin: 80px 0;
}

.step__three img {
  max-height: 400px;
}

.step__three .step__intro {
  margin-top: 100px;
}

.step__three .step__intro .step__intro--number {
  right: 0;
  top: -35px;
}

.step__illustration {
  position: relative;
  right: 0;
}

.step__one {
  margin-top: 80px;
  width: 100%;
}

.step__one .step__intro--number {
  left: -47px;
  top: -2px;
}

.step h1 {
  color: #558ed5;
  font-size: 2.8rem;
  font-weight: 600;
}

.step .step__intro--number {
  position: absolute;
  text-align: center;
  padding-top: 3px;
  font-weight: 600;
  background: #ffc000;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ffc000, 0 0 0 6px #fff, 0 0 0 9px #ffecb3;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ffc000, 0 0 0 6px #fff, 0 0 0 9px #ffecb3;
}

.step h3 {
  position: relative;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #002060;
}

.step .topic-languages i,
.step .topic-languages h2 {
  color: #f9af73;
}

.step .topic-languages button {
  background: #f9af73;
}

.step .topic-languages .topic:hover {
  color: #f9af73;
  cursor: pointer;
}

.step .topic-languages span {
  background: #f9af73;
}

.step .topic-school i,
.step .topic-school h2 {
  color: #31859c;
}

.step .topic-school button {
  background: #31859c;
}

.step .topic-school .topic:hover {
  color: #31859c;
  cursor: pointer;
}

.step .topic-school span {
  background: #31859c;
}

.step .topic-quizzes i,
.step .topic-quizzes h2 {
  color: #8266a3;
}

.step .topic-quizzes button {
  background: #8266a3;
}

.step .topic-quizzes .topic:hover {
  color: #8266a3;
  cursor: pointer;
}

.step .topic-quizzes span {
  background: #8266a3;
}

.step .step__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-bottom: 310px;
  margin-top: 20px;
  z-index: 4;
}

.step .step__topics button {
  position: relative;
  width: 100%;
  border: none;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.step .step__topics button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 0px 0px #d8d8d8;
          box-shadow: 0 5px 0px 0px #d8d8d8;
}

.step .step__topics .topic {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 20px;
  color: #7f7f7f;
  /* Flag/topic icon */
}

.step .step__topics .topic .step__topics--image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 1px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 5px;
}

.step .step__topics .step___topics-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  padding: 20px 15px;
  margin-top: 10px;
  position: relative;
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  max-width: 385px;
  white-space: nowrap;
  min-width: 33%;
}

.step .step__topics .step___topics-box:hover {
  max-height: 600px;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  -webkit-box-shadow: 0 5px 15px 10px #f7f7f7;
          box-shadow: 0 5px 15px 10px #f7f7f7;
  z-index: 4;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.step .step__topics .step___topics-box .step___topics-box--fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 50px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background-image: linear-gradient(to bottom, transparent, white);
  z-index: 4;
  pointer-events: none;
}

.step .step__topics .step___topics-box i {
  font-size: 2.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.step .step__topics .step___topics-box h2 {
  text-align: center;
  text-transform: uppercase;
}

.step .step__topics .step___topics-box p {
  text-align: center;
  color: #7f7f7f;
  font-size: 0.8rem;
}

.step .step__topics .step___topics-box a {
  color: #7f7f7f;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.step .step__topics .step___topics-box a:hover {
  color: #000;
  text-decoration: none;
}

@media (max-width: 992px) {
  .step__topics-selection span {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .step___topics-box h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .step__topics-selection span {
    display: inline-block !important;
  }
  .step__topics {
    position: relative !important;
    margin-bottom: 80px !important;
  }
  .step__topics .step___topics-box {
    padding: 10px !important;
    min-width: unset !important;
    max-width: 100% !important;
    margin: 0 auto;
  }
  .step__two {
    margin-top: unset !important;
  }
  .step__two img {
    display: none;
  }
  .step__three {
    margin-top: 80px;
  }
  .step__three img {
    display: none;
  }
}

.second-cta {
  background: #efefef;
  padding: 80px 0;
}

.second-cta h1 {
  color: #002060;
}

.second-cta .second-cta__btn {
  position: relative;
  border: 4px solid #002060;
  font-weight: 600;
  margin: 25px 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #002060;
  padding: 13px 35px;
  color: #fff;
  border-radius: 30px;
  font-size: 1.2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.second-cta .second-cta__btn:hover {
  color: #002060;
  background: #efefef;
  -webkit-transform: translateX(-50%) scale(1.04);
          transform: translateX(-50%) scale(1.04);
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .step___topics-box--fade {
      background-image: unset !important;
    }
  }
}

.form-discounts {
  width: 100%;
  max-width: 100%;
}

.form-discounts select {
  border-radius: 0 !important;
}

.form-discounts button {
  margin: 0;
}

form {
  max-width: 800px;
  margin: 0 auto;
}

form .hidden {
  visibility: hidden;
}

form .search__wrapper--instance {
  float: left;
}

form .detailed-form {
  margin: 0 auto;
  max-width: 600px;
}

form .detailed-form .search__wrapper--instance {
  margin-bottom: 10px;
}

form button {
  background: #002060 !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 0;
}

form button i {
  padding-right: 5px;
}

form input,
form select,
form textarea {
  background: #efefef !important;
  border-radius: 0 !important;
  border: 1px solid #cecece !important;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: #ffc000 !important;
  -webkit-box-shadow: 0 0 0 0.2rem #ffc000 !important;
          box-shadow: 0 0 0 0.2rem #ffc000 !important;
}

form label {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #7f7f7f;
  font-weight: 600;
  margin-bottom: 0.3rem;
  white-space: nowrap;
}

form textarea {
  min-height: 130px;
}

form .active {
  color: #ffc000;
}

#discount__feed {
  overflow: hidden;
}

.discount__wrapper {
  min-height: 165px;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid #efefef;
}

.discount__wrapper .discount__wrapper--image {
  overflow: hidden;
  max-width: 20%;
  position: relative;
  max-height: 140px;
}

.discount__wrapper .discount__wrapper--image img {
  display: block;
  max-height: 100%;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.discount__wrapper:last-child {
  border-bottom: none;
}

.discount__header {
  max-width: 80% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 80% !important;
          flex: 0 0 80% !important;
}

.discount__header .discount__header--prices {
  position: relative;
  top: 1px;
}

.discount__header .discount__header--prices span {
  vertical-align: middle;
  font-size: 1.2rem;
}

.discount__header .discount__header--prices .percent-percent {
  padding: 1px 10px 5px 10px;
  background: #04d138;
  color: #fff;
  font-weight: 600;
}

.discount__header .discount__header--prices .price-new {
  font-weight: 600;
  color: #04d138;
  margin-left: 7px;
}

.discount__header .discount__header--prices .price-old {
  color: #7f7f7f;
  text-decoration: line-through;
  margin-left: 7px;
}

.discount__header .discount__header--content h4,
.discount__header .discount__header--content p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.discount__header .discount__header--content h4 {
  margin: 10px 0 3px 0;
  color: #002060;
}

.discount__header .discount__header--content p {
  color: #7f7f7f;
  margin: 0;
}

.discount__header .discount__header--content table {
  display: none;
  width: 100%;
  margin: 20px 0 60px 0;
}

.discount__header .discount__header--content table tr:nth-child(odd) {
  background: #efefef;
}

.discount__header .discount__header--content table tr td {
  padding: 5px 10px;
}

.discount__header .discount__header--content table tr td:first-child {
  width: 200px;
  text-transform: uppercase;
  color: #7f7f7f;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.discount__header .extended {
  -webkit-animation: popViewIn 0.3s ease-in;
          animation: popViewIn 0.3s ease-in;
}

.discount__header .extended p,
.discount__header .extended h4 {
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
}

.discount__header .extended table {
  display: table;
  /*Toggle on click (opened here)*/
}

.discount__header .discount__buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 30px;
}

.discount__header .discount__buttons .discount__btn--see-more,
.discount__header .discount__buttons .discount__btn--claim {
  font-size: 0.8rem;
}

.discount__header .discount__buttons .discount__btn--see-more i {
  padding-right: 5px;
}

.discount__header .discount__buttons .discount__btn--claim {
  float: right;
}

@media (max-width: 767px) {
  .discount__wrapper {
    padding: 0 !important;
    border-bottom: none;
  }
  .discount__wrapper--image {
    max-width: 100% !important;
    max-height: 100% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    margin-bottom: 5px;
  }
  .discount__wrapper--image img {
    position: relative !important;
    -webkit-transform: unset !important;
            transform: unset !important;
    right: 0 !important;
    width: 100%;
    max-height: 100% !important;
  }
  .discount__header {
    max-width: 100% !important;
    -webkit-box-flex: unset !important;
        -ms-flex: unset !important;
            flex: unset !important;
  }
  .discount__header .discount__buttons {
    position: relative;
    margin-top: 10px;
    padding: 0;
  }
  .discount__header .discount__buttons .discount__btn--see-more,
  .discount__header .discount__buttons .discount__btn--claim {
    width: 100%;
  }
  .discount__header .discount__header--content table {
    margin: 20px 0;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .discount__header .discount__buttons {
    position: relative;
  }
}

.modal__content {
  background: #fff;
  max-width: 1000px;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 20px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  overflow-y: scroll;
  top: 100px;
}

.modal__content form {
  width: auto;
  margin: 0 auto;
}

.modal__content .modal__func--close {
  position: relative;
  top: 5px;
  color: #cecece;
  font-size: 1.4rem;
}

.modal__content .modal__func--close i {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.modal__content .modal__func--close i:hover {
  color: #7f7f7f;
}

.modal__background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (max-width: 1200px) {
  .modal__content {
    width: 90%;
  }
}

.modal__closed--behind {
  opacity: 0;
  pointer-events: none;
}

.modal__closed--content {
  -webkit-transform: translateY(1000px) translateX(-50%);
          transform: translateY(1000px) translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.discount__preview {
  background: #fff;
  border: 1px dashed #cecece;
  max-height: 90px;
  margin: 15px;
}

.discount__preview .discount__preview--percent {
  position: relative;
  color: #fff;
  font-weight: 600;
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  font-size: 2rem;
  padding: 20px;
  background: #558ed5;
  vertical-align: top;
  z-index: 2;
}

.discount__preview .discount__preview--percent:after {
  content: ' ';
  background: #fff;
  padding: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  right: -8px;
  top: 50%;
}

.discount__preview .discount__preview--content {
  position: relative;
  display: inline-block;
  margin: 5px;
  max-width: 450px;
  z-index: 15;
}

.discount__preview .discount__preview--content h3 {
  font-size: 1.2rem;
  color: #558ed5;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.discount__preview .discount__preview--content .credits-view {
  color: #04d138;
  font-weight: 600;
}

.discount__preview .discount__preview--content .credits-view .credits-icon {
  padding-right: 2px;
  width: 15px;
}

.discount__preview .discount__preview--content .price-view {
  font-size: 1.7rem;
  font-weight: 600;
  color: #04d138;
  line-height: 1.5rem;
  display: inline-block;
}

.discount__preview .discount__preview--content .before-view {
  font-size: 1.3rem;
  display: inline-block;
  color: #7f7f7f;
  text-decoration: line-through;
}

.discount__instructions {
  max-width: 570px;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}

.discount__instructions .discount__instructions--each {
  position: relative;
  padding: 5px 10px;
  top: 0;
  width: 32.8%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.discount__instructions .discount__instructions--each img {
  position: relative;
  max-width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.discount__instructions .discount__instructions--each p {
  text-align: center;
  white-space: normal;
}

.categories .category__feed--none-selected {
  display: none;
}

.categories .category__feed--none-selected p {
  margin-bottom: 5px;
}

.categories .category__feed--none-selected a {
  color: #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
}

.categories .category__feed--none-selected a:hover {
  color: #002060;
  text-decoration: none;
}

.categories .category__items--see-more {
  color: #fff;
  float: right;
  border-radius: 2rem;
  padding: 5px 25px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.categories .category__items--see-more:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category__type--languages .category__name,
.category__type--languages .category__item a:hover {
  color: #f9af73;
}

.category__type--languages .category__items--extend-btn,
.category__type--languages .category__items--see-more,
.category__type--languages .category__item--icon {
  background: #f9af73;
}

.category__type--school .category__name,
.category__type--school .category__item a:hover {
  color: #31859c;
}

.category__type--school .category__items--extend-btn,
.category__type--school .category__items--see-more,
.category__type--school .category__item--icon {
  background: #31859c;
}

.category__type--quiz .category__name,
.category__type--quiz .category__item a:hover {
  color: #8266a3;
}

.category__type--quiz .category__items--extend-btn,
.category__type--quiz .category__items--see-more,
.category__type--quiz .category__item--icon {
  background: #8266a3;
}

.category {
  margin-top: 50px;
}

.category .category__name {
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}

.category .category__description {
  font-size: 0.9rem;
  color: #7f7f7f;
  text-align: right;
}

.category .category__items--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 1800px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 20px;
}

.category .category__items--wrapper:not(.wrapper__collapsed) {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.category .category__items--wrapper .category__items--fade-overlay {
  content: '';
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  z-index: 5;
}

.category .category__items--wrapper .category__items--extend-btn {
  z-index: 5;
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.category .category__items--wrapper .category__items--extend-btn i {
  color: #fff;
  position: relative;
  pointer-events: none;
}

.category .wrapper__collapsed {
  max-height: 135px;
}

.category .category__item {
  position: relative;
  width: 22%;
  margin: 8px 10px;
  overflow: hidden;
  cursor: pointer;
}

.category .category__item a {
  display: block;
  color: #7f7f7f;
  font-size: 1.1rem;
}

.category .category__item a:hover {
  text-decoration: none;
}

.category .category__item a p {
  position: absolute;
  margin: 0;
  padding-left: 5px;
  width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.category .category__item a .category__item--icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #efefef;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.category .category__item a .category__item--icon object {
  position: absolute;
  right: 50%;
  width: 40px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  bottom: 50%;
}

@media (max-width: 767px) {
  .categories .category__items--see-more {
    float: none;
    margin-bottom: 10px;
  }
  .categories .category .category__name {
    text-align: left;
  }
  .categories .category .category__description {
    text-align: left;
  }
  .categories .category .category__item {
    width: 45%;
  }
  .categories .category .category__item .category__item--icon {
    width: 30px;
    height: 30px;
  }
  .categories .category .category__item .category__item--icon object {
    width: 60px;
  }
  .categories .category .category__items--extend-btn {
    border-radius: 0;
  }
}

.reader__wrapper {
  margin-top: 50px;
  max-width: 740px;
  padding: 0 20px;
}

.reader__wrapper p,
.reader__wrapper li,
.reader__wrapper strong,
.reader__wrapper em {
  font-size: 1.2rem;
  color: #3a3a3a;
  font-weight: 400;
  line-height: 2.15rem;
}

.reader__wrapper a {
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  font-weight: 600;
}

.reader__wrapper a:hover {
  display: inline-block;
  text-decoration: none;
  color: #002060;
}

.reader__wrapper ol {
  padding-left: 40px;
}

.reader__wrapper ul {
  padding-left: 20px;
}

.reader__wrapper ol li {
  padding-left: 15px;
}

.reader__wrapper ul li {
  padding-left: 35px;
}

.reader__wrapper ul li {
  list-style-type: none;
  background-image: url(../img/div_icons/bulletpoint-arrow.svg);
  background-position: -5px 11px;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.reader__wrapper h1,
.reader__wrapper h2,
.reader__wrapper h3,
.reader__wrapper h4,
.reader__wrapper h5,
.reader__wrapper h6 {
  color: #002060;
}

.reader__wrapper h2 {
  margin: 30px 0;
  font-size: 1.8rem;
}

.reader__wrapper .reader__final-date {
  margin-top: 70px;
  text-align: right;
  font-style: italic;
  color: #7f7f7f;
}

.navbar {
  padding: 0 !important;
}

nav {
  position: fixed;
  background: #002060;
  border-bottom: 4px solid #ffc000;
  font-size: 0.9rem;
}

nav .nav-link {
  color: #fff !important;
  padding: 1.5rem 1.1rem !important;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

nav .nav-link:hover {
  background: #00297a;
}

nav .navbar-text {
  padding: 0;
}

nav .nav-right {
  text-transform: uppercase;
}

nav .nav-right .dropdown-toggle {
  padding-left: 35px;
  position: relative;
  font-size: 0.9rem;
}

nav .nav-right .nav-language-select {
  padding: 1rem;
}

nav .nav-right .nav-language-select select {
  border-radius: 1.5rem !important;
  background: #002060 !important;
  color: #fff;
}

nav .dropdown {
  padding: 1rem;
}

nav .dropdown .dropdown-toggle {
  background: none !important;
  color: #fff;
  border-radius: 1.5rem;
  border: 2px solid;
  border-color: #fff !important;
}

nav .dropdown .dropdown-toggle:hover {
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
}

@media (max-width: 600px) {
  nav .navbar-toggler {
    padding: 1.5rem !important;
  }
  nav .nav-item {
    display: block;
    background: #001847;
    font-weight: 600;
  }
  nav .navbar-text {
    width: 100%;
  }
}

nav .navbar-brand .navbar-logo {
  max-height: 40px;
}

@media (max-width: 600px) {
  nav .navbar-brand {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

nav .dropdown-menu {
  top: 60px;
  background: #efefef;
  border: none;
  padding: 0;
  border-radius: 0.8rem !important;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2);
  min-width: 230px;
}

nav .vertical-line {
  width: 1px;
  height: 30px;
  background: #fff;
  display: block;
  margin: 1.3rem 10px;
}

nav .dropdown-lang .flag-wrapper {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 5px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  border-radius: 1rem;
}

nav .dropdown-lang .flag-wrapper .navbar-flag-selected {
  max-height: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

nav .dropdown-lang .dropdown-item {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 3rem;
  white-space: normal;
}

nav .dropdown-lang .dropdown-item .flag-wrapper {
  left: 15px;
}

nav .dropdown-lang .dropdown-item .flag-wrapper .navbar-flag-dropdown {
  max-height: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

nav .dropdown-lang .dropdown-item:active {
  color: #002060;
  background: #fff;
}

nav .nav-credits .nav-link {
  background: unset;
  position: relative;
}

nav .nav-credits .credit-container {
  background: #ffc000;
  padding: 5px 15px;
  color: #002060;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 2rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  cursor: default;
}

nav .nav-credits .credit-container:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 182, 0, 0.6);
          box-shadow: 0 0 10px 3px rgba(255, 182, 0, 0.6);
}

nav .nav-credits .credit-container .navbar-credit-icon {
  position: relative;
  top: 1px;
  padding-right: 3px;
}

nav .nav-profile {
  cursor: pointer;
}

nav .nav-profile .nav-link {
  background: unset;
  position: relative;
}

nav .nav-profile .nav-link .profile-container .profile-picture {
  position: relative;
  background-image: url("https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&d=retro&r=pg");
  background-size: contain;
  border: 2px solid #fff;
  padding: 5px 15px;
  color: #002060;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 2rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  right: 5px;
}

nav .nav-profile .nav-link .profile-container .profile-picture:after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #fff;
}

nav .nav-profile .dropdown__profile-container {
  position: relative;
  padding: 0px;
  text-transform: initial;
}

nav .nav-profile .dropdown__profile-container .dropdown__profile--main {
  padding: 10px 0px;
}

nav .nav-profile .dropdown__profile-container span,
nav .nav-profile .dropdown__profile-container a,
nav .nav-profile .dropdown__profile-container .dropdown__profile--logout {
  font-weight: 400;
  color: #002060;
  padding: 3px 20px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

nav .nav-profile .dropdown__profile-container span i,
nav .nav-profile .dropdown__profile-container a i,
nav .nav-profile .dropdown__profile-container .dropdown__profile--logout i {
  color: #aaaaaa;
  float: right;
  padding-top: 4px;
}

nav .nav-profile .dropdown__profile-container span {
  font-size: 1.2rem;
  background: #ffc000;
  cursor: default;
}

nav .nav-profile .dropdown__profile-container a:active {
  background: #fff;
}

nav .nav-profile .dropdown__profile-container .dropdown__profile--logout {
  background: #e2e2e2;
  padding: 6px 20px;
}

nav .nav-profile .dropdown__profile-container .dropdown__profile--logout:hover {
  color: #fff;
  background: #ff0066;
}

nav .navbar-toggler {
  padding: 1rem;
}

nav .navbar-toggler .navbar-toggler-icon {
  color: #fff;
  height: unset;
}

@media (max-width: 767px) {
  nav .nav-link {
    padding: 1rem !important;
    text-align: right;
  }
  nav .navbar-text {
    float: right;
    text-align: right;
  }
}

.btn-formsubmit {
  margin-top: 10px;
}

.register__actions--wrapper {
  margin-top: 10px;
}

.register__actions--wrapper .register__actions--login {
  text-decoration: underline;
  font-weight: 600;
}

.exercise__end .exercise__end--heading {
  color: #04d138;
}

.exercise__end .exercise__end--motivate {
  color: #7f7f7f;
}

.exercise__end .icon__piggie {
  width: 150px;
}

.exercise__end .exercise__end--credits .exercise__end--credits-wrapper {
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
}

.exercise__end .exercise__end--credits .exercise__end--credits-wrapper h5 {
  color: #002060;
  font-weight: 600;
  text-transform: uppercase;
}

.exercise__end .exercise__end--credits .exercise__end--credits-wrapper .icon__credit--counter {
  font-size: 3.2rem;
  font-weight: 600;
  color: #ffc000;
  line-height: 2.2rem;
  margin-left: 5px;
}

.exercise__end .exercise__end--credits .icon__credit {
  width: 40px;
  vertical-align: top;
}

.stats__general .stats__heading--general {
  color: #558ed5;
  text-transform: uppercase;
}

.stats__general .stats__general-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.stats__general .stats__general-wrapper .stats__heading--general {
  display: block;
}

.stats__general .stats__general-wrapper .stats__general--container {
  padding: 20px 0;
  width: 250px;
  background: #f0f5fb;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.stats__general .stats__general-wrapper .stats__general--container:hover {
  background: #e4edf8;
}

.stats__general .stats__general-wrapper .stats__general--container .stats__general--stat,
.stats__general .stats__general-wrapper .stats__general--container .stats__general--description {
  color: #535353;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  cursor: default;
}

.stats__general .stats__general-wrapper .stats__general--container .stats__general--stat {
  color: #558ed5;
}

.stats__general .stats__general-wrapper .stats__general--container .stats__general--description {
  margin: 0;
}

.stats__categories--feed {
  margin-top: 50px;
}

.stats__categories--feed table {
  color: unset;
  margin-top: 50px;
}

.stats__categories--feed table thead th {
  border: none;
}

.stats__categories--feed table .stats__identifiers .stats__category--heading-title {
  padding-left: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.stats__categories--feed table .stats__main th,
.stats__categories--feed table .stats__main td {
  border: none;
}

.stats__categories--feed table .stats__main tr {
  border-top: 5px solid #fff;
  background: #f0f5fb;
}

.stats__categories--feed table .stats__main td .stats__stat {
  font-size: 1.3rem;
  margin: 0;
  white-space: nowrap;
}

.stats__categories--feed table .stats__main td .stats__description {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0;
}

.stats__categories--feed table .stats__main .stat__type--heading,
.stats__categories--feed table .stats__main .stat__type--more {
  padding: 0;
  vertical-align: middle;
  position: relative;
}

.stats__categories--feed table .stats__main .stat__type--heading:focus,
.stats__categories--feed table .stats__main .stat__type--more:focus {
  outline: none;
}

.stats__categories--feed table .stats__main .stat__type--heading .stat__icon-wrapper,
.stats__categories--feed table .stats__main .stat__type--more .stat__icon-wrapper {
  top: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 70px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stats__categories--feed table .stats__main .stat__type--heading .stat__icon-wrapper .stat__icon--flag,
.stats__categories--feed table .stats__main .stat__type--more .stat__icon-wrapper .stat__icon--flag {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  height: 50px;
}

.stats__categories--feed table .stats__main .stat__type--heading h3,
.stats__categories--feed table .stats__main .stat__type--more h3 {
  cursor: default;
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 5px 0 5px 35px;
}

.stats__categories--feed table .stats__main .stat__type--more {
  text-align: center;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.stats__categories--feed table .stats__main .stat__type--more:hover {
  cursor: pointer;
  background: #e4edf8;
}

.stats__categories--feed table .stats__main .stat__type--more i {
  font-size: 1.7rem;
  color: #7f7f7f;
}

.stats__categories--feed table .stats__main .stat__row--see-more {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #535353;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.stats__categories--feed table .stats__main .stat__row--see-more:hover {
  background: #e0eaf7;
}

.stats__categories--feed table .stats__main .stat__row--see-more td {
  padding: 0.3rem;
  text-align: center;
}

.stats__identifiers .stats__category--heading-icon {
  width: 12%;
}

.stats__identifiers .stats__category--heading-icon i {
  font-size: 1.4rem;
}

.stats__identifiers .stats__category--heading-icon object {
  position: relative;
  top: 3px;
  height: 23px;
}

.stats__identifiers .stats__category--more {
  width: 5%;
}

@media (max-width: 991px) {
  .stats__categories--feed table .stats__main .stat__type--more {
    padding: 20px !important;
  }
}

.stats__category-languages .stats__category--heading-title {
  color: #f9af73;
}

.stats__category-languages .stat__icon-wrapper {
  background: #f9af73;
}

.stats__category-school-topics .stats__category--heading-title {
  color: #31859c;
}

.stats__category-school-topics .stat__icon-wrapper {
  background: #31859c;
}

.stats__category-quizzes .stats__category--heading-title {
  color: #8266a3;
}

.stats__category-quizzes .stat__icon-wrapper {
  background: #8266a3;
}

.stats__main h3,
.stats__main p {
  color: #fff;
}

.stats__main .stat__type--heading h3 {
  color: #535353;
  font-size: 1.1rem !important;
}

.stats__identifiers .stat__color--skill {
  color: #535353;
}

.stats__identifiers .stat__color--time-spent {
  color: #558ed5;
}

.stats__identifiers .stat__color--correct {
  color: #04d138;
}

.stats__identifiers .stat__color--incorrect {
  color: #ff0066;
}

.stats__identifiers .stat__color--ratio {
  color: #002060;
}

.stat__type--skill {
  background: #535353;
}

.stat__type--time-spent {
  background: #558ed5;
}

.stat__type--correct {
  background: #04d138;
}

.stat__type--incorrect {
  background: #ff0066;
}

.stat__type--ratio {
  background: #002060;
}

.stat__type--total-credits {
  background: #ffc000;
}

.stat__type--total-credits h3,
.stat__type--total-credits p {
  color: #535353;
}

@media (max-width: 767px) {
  .stats__general .stats__general--container {
    padding: 10px !important;
  }
  .stats__general .stats__general--container .stats__general--stat {
    font-size: 2rem;
  }
  .stats__general .stats__general--container .stats__general--description {
    font-size: 1rem;
  }
  .stats__categories--feed > div {
    width: 100%;
    overflow-x: scroll;
  }
  .stat__row--see-more td {
    text-align: left !important;
    padding: 15px !important;
  }
  .stats__categories--feed table .stats__main .stat__type--heading {
    padding: 10px;
  }
  .stats__categories--feed table .stats__main .stat__type--heading h3 {
    padding: 0 !important;
  }
  .stats__categories--feed table .stats__main .stat__type--heading .stat__icon-wrapper {
    position: relative;
    -webkit-transform: unset;
            transform: unset;
    width: 20px;
    height: 20px;
  }
  .stats__categories--feed table .stats__main .stat__type--heading .stat__icon-wrapper .stat__icon--flag {
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */