$ft-blue: #002060;
$ft-ltblue: #558ed5;
$ft-superltblue: #e8f6fc;
$ft-yellow: #ffc000;
$ft-ltgray: #efefef;
$ft-gray: #7f7f7f;
$ft-midgray: #cecece;
$ft-lime: #04d138;
$ft-red: #ff0066;

$stats-gray: #535353;
$stats-ltblue: #558ed5;
$stats-green: #04d138;
$stats-red: #ff0066;
$stats-darkblue: #002060;
$stats-yellow: #ffc000;

$topic-lang: #61c6e6;
$topic-school: #30b8a6;
$topic-quizzes: #9a74c5;

$footer-color: #535353;

$breakpoint-mobile: 991px;

// Old colors
// $topic-lang: #14b1e4;
// $topic-school: #00ce8e;
// $topic-quizzes: #a960ff;
