$ft-blue: #002060;
$ft-ltblue: #558ed5;
$ft-yellow: #ffc000;
$ft-ltgray: #efefef;
$ft-gray: #7f7f7f;
$ft-midgray: #cecece;
$ft-lime: #04d138;
$ft-red: #ff0066;

$stats-gray: #535353;
$stats-ltblue: #558ed5;
$stats-green: #04d138;
$stats-red: #ff0066;
$stats-darkblue: #002060;
$stats-yellow: #ffc000;

$topic-lang: #f9af73;
$topic-school: #31859c;
$topic-quizzes: #8266a3;

$breakpoint-mobile: 991px;