$ft-blue: #002060;
$ft-ltblue: #558ed5;
$ft-yellow: #ffc000;
$ft-ltgray: #efefef;
$ft-gray: #7f7f7f;
$ft-midgray: #cecece;
$ft-lime: #04d138;

$topic-lang: #f9af73;
$topic-school: #31859c;
$topic-quizzes: #8266a3;